
.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 15rem;
    height: 15rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    background-color: rgb(179, 70, 70);
}

.cell:nth-of-type(4) > * {
    transform: translate(0, 50%);
}

.cell:nth-of-type(2) > * {
    transform: translate(0, 50%);
}

.cell:nth-of-type(6) > * {
    transform: translate(50%, 0);
}

.cell:nth-of-type(10) > * {
    transform: translate(-50%, 0);
}