
.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 15rem;
    height: 15rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
}

button {
    display: block;
    position: relative;
    background: none;
    border: none;
    padding: 0;
}


.cell:nth-of-type(4) > * {
    transform: translate(0, 50%);
}

.cell:nth-of-type(2) > * {
    transform: translate(0, 50%);
}

.cell:nth-of-type(6) > * {
    transform: translate(50%, 0);
}

.cell:nth-of-type(10) > * {
    transform: translate(-50%, 0);
}

.cell:nth-of-type(24) > * {
    transform: translate(0%, -25%);
}

html {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}