
@font-face {
    font-family: 'chewy-regular';
    src: url(../fonts/chewy-regular-webfont.woff2) format('woff2'),
    url(../fonts/chewy-regular-webfont.woff) format('woff');
}

body {
    font-family: 'chewy-regular', Arial, Helvetica, sans-serif;
    font-size: 2.3em;
}
h1 {
    color: white; 
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    margin-top: 3.5em;
}

.label {
    margin: 1em;
    padding-right: 40%;
    padding-left: 40%;
    font-size: 1.1em;
    text-align: center;
}

input {
    background-color: #959595;
    border: none;
    padding: 10px 40px;
    text-align: center; 
    color: white; 
    margin: .75em;
    border-radius: 2px;
    font-family: 'chewy-regular', Arial, Helvetica, sans-serif;
    font-size: 22px;
}

button {
    background-color: #959595;
    border: none;
    font-family: 'chewy-regular', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: .75em;
    cursor: pointer; 
    border-radius: 36px;
}

#mainContainer {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-template-areas: 
    'orange white pink'
    'blue brown lime'
    'black yellow green'
    'purple cyan red';
    position: relative;
    margin: auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#orange {
    grid-area: orange;
}

#white {
    grid-area: white;
    top: 2em;
}

#pink {
    grid-area: pink;
    top: 8rem;
}

#blue {
    grid-area: blue;

}

#brown {
    grid-area: brown;
    
}

#lime {
    grid-area: lime;
}

#black {
    grid-area: black;
}

#yellow {
    grid-area: yellow;
    bottom: 2rem;
}

#green {
    grid-area: green;
}

#purple {
    grid-area: purple;
}

#cyan {
    grid-area: cyan;
}

#red {
    grid-area: red;
}

.crewmate {
    display: block;
    position: relative;
    background: none;
    border: none;
    padding: 0;
}

html {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* how do I cut off the height*/
}