
/* Fonts */

@font-face {
    font-family: 'chewy-regular';
    src: url(../fonts/chewy-regular-webfont.woff2) format('woff2'),
    url(../fonts/chewy-regular-webfont.woff) format('woff');
}
    
 @font-face {
    font-family: 'blinker-regular';
    src: url(../fonts/blinker-regular-webfont.woff2) format('woff2'),
    url(../fonts/blinker-regular-webfont.woff) format('woff');
 }   

 @font-face{
    font-family: 'blinker-semibold';
    src: url(../fonts/blinker-semibold-webfont.woff2) format('woff2'),
    url(../fonts/blinker-semibold-webfont.woff) format('woff');
 }
 
 /* Site Title */
h1 {
    color: white; 
    text-align: center;
}


/* Date Form Box */
body {
    font-family: 'chewy-regular', Arial, Helvetica, sans-serif;
    font-size: 2.3em;
}

.container {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

/* Question Title */
.label {
    margin: .75em;
    padding-right: 40%;
    padding-left: 40%;
    font-size: 1.1em;
    text-align: center;
}

/* Birthday Input Form Box */
input {
    background-color: #959595;
    border: none;
    padding: 10px 40px;
    text-align: center; 
    color: white; 
    margin: .75em;
    border-radius: 2px;
    font-family: 'chewy-regular', Arial, Helvetica, sans-serif;
    font-size: 22px;
}

/* Submit Button */
#submit {
    background-color: #959595;
    border: none;
    font-family: 'chewy-regular', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: .75em;
    cursor: pointer; 
    border-radius: 36px;
}


/* 12 Buttons */
.crewmate {
    background: none;
    border: none;
    color: none;
    padding: 15px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 2em;
}

.description-title {
    color: black; 
    text-align: center
}

/* Card Description Box */

.card {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1em;
}

h2 {
    font-family: 'chewy-regular', Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: black;
    margin: 0.4em
}

h3 {
    font-family: 'blinker-semibold', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    margin-top: 1.1em;
}

p {
    font-family: 'blinker-regular', Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: black;
    width: 70%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    text-align: start;
}

/* Modal */
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba( 0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 587px;
    height: 707px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;

}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

/*

Card Container Description 

img {
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

h2 {
    font-family: 'chewy-regular', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: black;
    margin: 0.4em
}

h3 {
    font-family: 'blinker-semibold', Arial, Helvetica, sans-serif;
    font-size: .75em;
    color: black;
    margin-top: 1.1em;
}

p {
    font-family: 'blinker-regular', Arial, Helvetica, sans-serif;
    font-size: .5em;
    color: black;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    text-align: start;
}*/


/* Arrow Buttons */
a {
    text-decoration: none;
    display: inline-block;
}

.previous {
    border-radius: 50%;
    color: #c4c4c4;
    transform: translate(-15px, -80px);
}

.next {
    border-radius: 50%;
    color: #c4c4c4;
    transform: translate(250px, -80px);
}

/* Background Image */
html {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}